/* to style, change-devoured and delete-burger in partial  */

.change-devoured{
background-color: yellow;
}

.delete-burger{
background-color: red;
}

body{
    font-size: 10px;
    background-image: url("../img/Three_Broomsticks_Inn_Pottermore.png");
    background-color: black;
}